#login {
    display: flex;
    justify-content: center;
}

#login .block {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    min-width: 550px;
    /* min-height: 300px; */
    padding: 25px;
}

#login .block h1 {
    text-align: left;
    margin: 0 0 1rem 0;
}

#login .block input {
    margin-bottom: 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    min-height: 40px;
    width: 60%;
    padding-left: 15px;
}

#login .block .btn span {
    padding: 5px 15px;
    border-radius: 15px;
    color: #ffffff;
    background-color: #04b4fd;
    cursor: pointer;
}