#login {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#login .block {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    min-width: 550px;
    /* min-height: 300px; */
    padding: 25px;
}

#login .block h1 {
    text-align: left;
    margin: 0 0 1rem 0;
}

#login .block .btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#login .block .btn span {
    padding: 10px 25px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #04b4fd;
    cursor: pointer;
}

#login .input-block {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
}
#login .input-block.wrong {
    margin: 0;
}
#login .input-block.wrong h5 {
    color: red;
    margin: 0;
}

#login .input-block span {
    width: 100px;
}

#login .input-block input {
    flex: 1;
    border-radius: 10px;
    border: 1px solid #efefef;
    min-height: 40px;
    padding-left: 15px;
}

#loginModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginModal .modal_content {
    max-width: 500px;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: #ffffff;
}

.hide {
    display: none!important;
}