#profile {
    position: relative;
    padding: 50px 0;
}
#profile .img-description{
    display: flex;
    width: 100%;
    padding: 15px 0;
}

#profile .img-description .img{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#profile .img-description .img .crap {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #000000;
}

#profile .img-description .description{
    flex: 2;
    padding: 15px;
    position: relative;
}

#profile .img-description .description h5 {
    margin: 10px;
}
#profile .img-description .description .name {
    font-size: 24px;
}
#profile .socialMediaBlock {
    width: 100%;
    position: fixed;
    bottom: 30px;
    display: flex;
    justify-content: center;
}
#profile .socialMedia{
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#profile .socialMedia .unit{
    padding: 7px 10px;
    cursor: pointer;
    position: relative;
}
#profile .socialMedia .unit:hover {
    /* background-color: #5a5a5a; */
    animation-name: socialMedia-animation;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes socialMedia-animation {
    from {
        top: 0px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    to {
        top: -1px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

#profile .p-container{
    width: 100%;
    margin: auto;
    max-width: 1200px;
} 