.player-block {
    width: 250px;
    border: 1px solid #565656;
}

.player-block .img {
    width: 100%;
}

.player-block .img img {
    width: 100%;
}

.player-block .text {
    width: 100%;
    text-align: center;
}

.player-block .text span {
    font-size: 24px;
    font-weight: 600;
}

.video-board {
    display: flex;
    justify-content: center;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

.tempblock {
    border: 1px solid black;
    border-radius: 10px;
    margin: 40px;
}