.player-block {
    width: 250px;
    border: 1px solid #565656;
}

.player-block .img {
    width: 100%;
}

.player-block .img img {
    width: 100%;
}

.player-block .text {
    width: 100%;
    text-align: center;
}

.player-block .text span {
    font-size: 24px;
    font-weight: 600;
}

.video-board {
    display: flex;
    justify-content: center;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
}

.col-md-12 {
    flex: 1;
    position: relative;
    width: 100%;
}

.col-md-4 a {
    flex: 1;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin: auto;
    max-width: 1200px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    color: #272727;
}

.tempblock {
    border-bottom: 1px solid #efefef;
    border-radius: 0px;
    margin: 0 40px;
    padding: 10px
}

.tempblock p {
    /* color: #ffffff; */
    margin: 3px 0;
}

.area-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px 0;
    min-height: 150px;
    flex: 1;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.area-card:hover {
    /* background-color: #5a5a5a; */
    animation-name: animation;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes animation {
    from {
        top: 0px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    to {
        top: -3px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.area-card a {
    text-decoration: none;
}

.area-card h3 {
    /* text-align: center; */
    color: #272727;
    margin: 5px 0;
}

.area-card:hover h3 {
    /* color: #ffffff; */
}

.area-card h5 {
    /* text-align: center; */
    color: #d7d7d7;
    margin: 5px 0;
}

.input {
    position: absolute;
    right: 0;
    top: 15px;
}

.hide {
    display: none !important;
}

.width-100 {
    width: 100%;
}

body {
    /* background-color: #b3dcff; */
}

.weatherImg {
    width: 50px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun-color {
    background-color: #f8d14c;
}

.not-sun-color {
    background-color: #48b5ff;
}

#input-area {
    display: flex;
    justify-content: center;
}

input {
    height: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button {
    background-color: #5a5a5a;
    color: #ffffff;
    border: 1px solid #ffffff00;
    padding: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #5a5a5a;
    opacity: .5;
}

.loading h1 {
    margin-top: 5%;
    color: #ffffff;
    z-index: 33;
    /* width: 250px; */
    /* height: 250px; */
    /* border-radius: 50%; */
    /* background-color: #565656; */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.alert {
    color: red;
    margin-left: 30px;
}

.m-nav {
}

.m-nav .MuiAppBar-colorPrimary {
    background-color: #151518;
}

#weather {
    padding: 100px 15px;
    /* background-color: #368ed7; */
    min-height: 600px;
}

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

#information .temperature {
    width: 100%;
}

#information .title span {
    font-size: 36px;
    margin: 25px 0 45px 0;
    color: #3e4245;
    border-bottom: 10px solid #368ed7;
}

#lineChart {
    width: 100%;
}

.flex-direction-column {
    flex-direction: column;
}

.mt-30 {
    margin-top: 30px;
}

#information .sun-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#information .sun-content .container-time {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#information .sun-content .container-time h5 {
    padding: 5px 10px;
    background-color: #f8d14c;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
}


#sunOrRainModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sunOrRainModal .modal_content {
    max-width: 500px;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: #ffffff;
}

#sunOrRainModal .modal_content:focus {
    outline: none;
}

#SideBarBtn .button {
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 1199;
}

#SideBarBtn .button:hover {
    background-color: #000000;
    color: #ffffff;
}

#drawerContent {
    min-width: 300px;
    padding: 50px 10px;
}
#drawerContent .unit {
    text-align: center;
}
#drawerContent .unit span {
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: 500;
}
#drawerContent .unit span:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}
